<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if(editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
            <div class="form-control">
                <lable for="title">Title</lable>  
                <input type="text" name="title" id="title" value="<% if(editing) {%><%= product.title %><%} %>">
            </div>

              <div class="form-control">
                <lable for="imageUrl">Image Url</lable>  
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editing) {%><%= product.imageUrl %><%} %>">
              </div>

            <div class="form-control">
             <lable for="price">Price</lable>  
             <input type="number" name="price" id="price" step="0.01" value="<% if(editing) {%><%= product.price %><%} %>"> 
            </div>

               <div class="form-control">
                <lable for="description">Description</lable>  
                <textarea name="description" id="description" rows="5"><% if(editing) {%><%= product.description %><%} %></textarea>
               </div>

            <button type="submit"><% if(editing) { %>Edit Products<% } else { %>Add Products<% } %></button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>